body {
    background-color: white;
}

.app-container {
    margin: auto;
}

.content-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
}