.cutting-container {
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.cutting-text-area {
    background-color: var(--offWhite);
    border: solid 2px var(--richRed);
    border-radius: var(--space-xs);
    height: 200px;
    margin: auto;
    padding: var(--space-xs);
    resize: none;
    width: (90% / 3);
    @include for-phone-only {   
        height: 100px;
        margin: var(--space-xs) auto;
        width: 90%; 
     };
     @include for-tablet-portrait-up {   
        margin-top: var(--space-sm);
        width: (90% / 2);
     }
}

.text-area-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
	margin-right: auto;
    margin-bottom: var(--space-md);;
    width: 100%;
    @include for-phone-only {  
        flex-direction: column;
     };
}

.cut-btn {
    margin: auto;
}