.cutting-container {
    background-color: var(--standardGrey);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: auto;
    padding-bottom: 30px;
    width: 100%;
}

.cutting-text-area {
    height: 200px;
    margin: 5px;
    resize: none;
    width: (90% / 3);
}

.text-area-container {
    display: flex;
    flex-direction: row; 
    height: 200px;
    justify-content: center;
    margin-left: auto;
	margin-right: auto;
    margin-bottom: 20px;
    width: 100%
}