.header {
    background-color: var(--offBlack);
    border-bottom: solid 2px var(--goldenBrown);
    margin: 0;
    h1 {
        color: var(--goldenBrown);
        font-family: 'Lexend Zetta';
        padding: 20px;
    }
}