.pasteboard-container {
    background-color: white;
    height: 400px;
    width: 45%;
    margin-right: 10px;
}

.unused-snippets {
    border: 2px var(--goldenBrown) solid;
    display: flex;
    height: 400px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
}