.text-snippet {
    background-color: rgb(253, 226, 150);
    font-family: var(--font-secondary);
    font-size: var(--text-sm);
    height: 20px;
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap;
}