.text-snippet {
    background-color: rgb(253, 226, 150);
    height: var(--space-lg);
    margin: var(--space-xs);
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
    white-space: nowrap;
}