.wip-container {
    height: 400px;
    width: 45%;
    margin-left: 10px;
}

.lines-container {
    border: solid var(--standardGrey) 2px;
    display: flex;
    height: 400px;
    width: 100%;
    flex-direction: column;
    overflow: scroll;
}