.wip-container {
    background-color: var(--standardGrey);
    height: 400px;
    width: 45%;
    margin-left: 10px;
}

.lines-container {
    border: 2px var(--goldenBrown) solid;
    display: flex;
    height: 400px;
    width: 100%;
    flex-direction: column;
    overflow: scroll;
}