* {
    margin: 0;
    padding: 0;
}

*, body {
  box-sizing: border-box;
}

body {
    background-color: var(--beige);
    color: var(--offBlack);
    font-family: var(--font-primary);
    font-size: var(--text-md)
}

h1, h2, h3, h4 {
  --heading-line-height: 1.2;
}

h1 {
  color: var(--goldenBrown);
  font-family: var(--font-header);
}

p {
  font-weight: 100;
  line-height: var(--body-line-height);
}

.btn {
    background-color: var(--bronze);
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--text-sm);
    font-weight: 400;
    padding: 5px;
}

.btn:hover {
    background-color: var(--goldenBrown);
    transition: 0.5s;
  }